body {
    background-color: rgb(255, 255, 255);
}

.imagem{
    position: absolute;
    right: 200px;
    top: -18px; 
    height: 800px;
    border-radius: 70px 70px 100px 100px;
}
.container{
    background-color: rgb(184, 150, 150);
    height: 850px;
    border-radius: 20px;
    margin-top: 20px;
}

.buttons{
   display: flex;
   gap: 10px;               
   justify-content: flex-end; 
   padding: 10px;
}

.button1{
    background-color: #eae2ee;
    color: rgb(15, 15, 15);
    padding: 12px 20px;
    border: 2px solid rgb(226, 211, 214);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(221, 199, 211);
}

.fundo {
  position: relative;
  width: 100%;
  height: 100%;
}

.imagem2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}

.nome {
  position: absolute;
  top: 200px;
  left: 18%;
  transform: translateX(-50%);
  color: rgb(182, 105, 163);
  font-size: 70px;
  font-weight:bold;
  font-family:'Playfair Display' serif;
}

.nome1 {
  position: absolute;
  top: 290px;
  left:30%;
  transform: translateX(-50%);
  color: rgb(71, 5, 77);
  font-size: 120px;
  font-weight:bold;
}

.nome2 {
  position: absolute;
  top: 582px;
  left: 42%;
  transform: translateX(-50%);
  color: rgb(182, 105, 163);
  font-size: 45px;
  font-weight:bold;
  font-family:'Montserrat';
  font-style: italic;
}

.carrossel{
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 850px;
}

.texto {
 position: absolute;
  top: 80px;
  left: 64.5%;
  transform: translateX(-50%);
  font-size: 55px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: rgb(182, 105, 163);
  padding: 8px 16px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px 
}

.texto1 {
  position: absolute;
  top: 22%;
  left: 65%;
  transform: translateX(-50%);
  font-size: 22px;
  font-family:'Times New Roman';
  color: #18588d;
  text-align: justify;
}

.imagem3 {
  position: relative;
  left: 17%;
  margin-top: 7%;
  height: 600px;
}

.organizacao{
  background-color: rgb(241, 241, 241);
  position: relative;
  height: 850px;
  width:470px;
  margin-top: 5%;
   border-radius: 15px;
}

.organizacao2{
  background-color: rgb(241, 241, 241);
  position: relative;
  height: 850px;
  width:470px;
  margin-top: -45%;
  left: 477px;
   border-radius: 15px;
}

.organizacao3{
  background-color: rgb(241, 241, 241);
  position: relative;
  height: 850px;
  width:470px;
  margin-top: -45%;
  left: 952px;
   border-radius: 15px;
}

.organizacao4{
  background-color: rgb(241, 241, 241);
  position: relative;
  height: 850px;
  width:470px;
  margin-top: -45%;
  left: 1428px;
  border-radius: 15px;
}

.fotoQA{
  position: relative;
  left: -12%;
  margin-top: 7%;
  height: 600px;
}

.fotoQA2{
  position: relative;
  left: -3%;
  margin-top: 40%;
  height: 400px;
}

.fotoQA3{
  position: relative;
  left: 0%;
  margin-top: 40%;
  height: 400px;
}

.fotoQA4{
  position: relative;
  left: 5%;
  margin-top: 30%;
  height: 450px;
}