body {
    background-color: rgb(199, 178, 178);
}

.imagem{
    position: absolute;
    right: 130px;
    top: 20px; 
    height: 700px;
    border-radius: 70px 70px 100px 100px;
   
}
.container{
    background-color: rgb(184, 150, 150);
    height: 800px;
    border-radius: 20px;
    margin-top: 30px;
}

.buttons{
   display: flex;
   gap: 10px;               
   justify-content: flex-end; 
   padding: 10px;
}

.button1{
    background-color: #cdc3d3;
    color: rgb(15, 15, 15);
    padding: 12px 20px;
    border: 2px solid rgb(226, 211, 214);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

button:hover{
    background-color: rgb(221, 199, 211);
}

.fundo {
  position: relative;
  width: 100%;
  height: 100%;
}

.imagem2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 15px;
}